-var relatedIndicator = jade.t('related-indicator')
.uk-panel.uk-panel-box.uk-panel-box-secondary
  .uk-panel-title
    i.uk-icon-share-alt
    = relatedIndicator
  .uk-panel-badge.uk-badge.related-indicator-length 0
  ul.uk-list.list-striped
