.detect-fixed-bottom(style='height:10px')
.to-fixed-bottom
  p 最佳解析度1440x900，支援五大主流瀏覽器之較新版本： IE9或以上、Firefox、Safari、Chrome、Opera
  p
    a(href='http://www.ccam.gov.mo/', target="_blank") 澳門特別行政區政府婦女事務委員會
    | &nbsp;|&nbsp;
    a(href='#aboutus') 關於我們
    | &nbsp;|&nbsp;
    a(href='#help') 使用說明
    | &nbsp;|&nbsp;
    a(href="#filecenter") 下載中心
//- a#about_us(href='#div_txt')
//-   p.center 關於我們<br/>
//- div#div_txt.div_style
//-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;澳門婦女數據資料庫將不同渠道、不同形式的澳門婦女資料整合，為關注本澳婦女狀況的用戶提供一站式的數據服務。<br/>
//-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;資料庫中的數據分為三大類：專題數據、綜合數據及調研數據。<br/>
//-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I>專題數據</I>涵蓋了與婦女相關的八個基礎領域，包括人口、家庭、健康、教育、經濟及社會保障、暴力、政治參與、傳播媒體等。這些數據來自於官方統計資料，如統計暨普查局、衛生局、勞工事務局、教育暨青年局、社會工作局及體育發展局等等。<br/>
//-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I>綜合數據</I>呈現了使用多個領域的統計數據綜合計算指數，如綜合了經濟、教育、健康、政治等四個面向的性別差距指數(Gender Gap Index, GGI)，以及包含了生育健康、政治賦權及勞動市場等三個子指標的性別不平等指數(Gender Inequality Index, GII)。<br/>
//-   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I>調研數據</I>收集整理並呈現關於婦女的實證調查數據，數據主要來自於《澳門婦女現況報告》。<br/>
