.indicator-bread-wrap
  .uk-container.uk-container-center
    #indicator_bread_view
      .uk-clearfix
        ul.uk-breadcrumb.uk-float-right
          li 您的位置：
          li
            a(href='#') 使用說明
.uk-grid
  .uk-width-3-5.uk-push-1-5
    .uk-panel.uk-panel-box
      h1.uk-panel-title(style='text-align:center') 使用說明
      img(src='images/help/camhelp (1).PNG')
      img(src='images/help/camhelp (2).PNG')
      img(src='images/help/camhelp (3).PNG')
      img(src='images/help/camhelp (4).PNG')
      img(src='images/help/camhelp (5).PNG')
      img(src='images/help/camhelp (6).PNG')
