nav.uk-navbar.uk-margin-small-bottom
  //- a.uk-navbar-brand(href='#') CAM
  .uk-container.uk-container-center
    .uk-navbar-link-left
    .uk-navbar-content
    .uk-navbar-content
    .uk-navbar-content.uk-navbar-flip.uk-hidden-small
      .uk-navbar-link
        i.uk-icon-user
        a(href='#my-id-header-modal', data-uk-modal='') 帳號管理
      .uk-navbar-link
        i.uk-icon-sign-out
        a(href='#logout') 登出
        //- button.uk-button(href='#')
        //-   i.uk-icon-folder-o
        //- button.uk-button.uk-button-danger Button

#my-id-header-modal.uk-modal
  .uk-modal-dialog
    a.uk-modal-close.uk-close
    p
