.category-header-wrap
	.uk-container.uk-container-center
		#navbar-brand.uk-grid
			.uk-width-1-2
				#logo_view
			.uk-width-1-2
				#indicator_search_box_view
.cam-category-box
	.cam-big-category-wrap
		.uk-container.uk-container-center
			#big_category_view
			.cam-big-category-flower
				img.img-responsive(src="./images/flower-s.png")
	.cam-category-list-wrap
		.uk-container.uk-container-center
			#category_list_view
.uk-container.uk-container-center
	#indicator_list_view
