-var hotIndicator = jade.t('hot-indicator')
.uk-panel.uk-panel-box.uk-panel-box-secondary
  .uk-panel-title
    i.uk-icon-fire
    = hotIndicator
  small.uk-panel-badge 搜索排名
  ul.uk-list.list-striped
