.indicator-bread-wrap
  .uk-container.uk-container-center
    #indicator_bread_view
      .uk-clearfix
        ul.uk-breadcrumb.uk-float-right
          li 您的位置：
          li
            a(href='#') 關於我們
.uk-grid
  .uk-width-3-5.uk-push-1-5
    .uk-panel.uk-panel-box
      h1.uk-panel-title(style='text-align:center') 關於我們
      p 澳門婦女數據資料庫將不同渠道、不同形式的澳門婦女資料整合，為關注本澳婦女狀況的用戶提供一站式的數據服務。
      p 資料庫中的數據分為三大類：專題數據、綜合數據及調研數據。
        .uk-picture.uk-grid
          .uk-width-1-3
            a(href='./#category/1')
              img(src='images/btn_data_pic_01.png')
          .uk-width-1-3
            a(href='./#category/2')
              img(src='images/btn_data_pic_02.png')
          .uk-width-1-3
            a(href='./#category/3')
              img(src='images/btn_data_pic_03.png')
      p 專題數據涵蓋了與婦女相關的八個基礎領域，包括人口、家庭、健康、教育、經濟及社會保障、暴力、政治參與、傳播媒體等。這些數據來自於官方統計資料，如統計暨普查局、衛生局、勞工事務局、教育暨青年局、社會工作局及體育發展局等等。
      p 綜合數據呈現了使用多個領域的統計數據綜合計算指數，如綜合了經濟、教育、健康、政治等四個面向的性別差距指數(Gender Gap Index, GGI)，以及包含了生育健康、政治賦權及勞動市場等三個子指標的性別不平等指數(Gender Inequality Index, GII)。
      p 調研數據收集整理並呈現關於婦女的實證調查數據，數據主要來自於《澳門婦女現況報告》。
      span.camsign 澳門特別行政區政府 婦女事務委員會
