.uk-panel.uk-margin-bottom.uk-panel-box.indicator-card
  .uk-panel-title= name
    small= unit.trim() ? '(' + unit + ')' : ''
  .indicator-badge
    span
      i.uk-icon-spinner.uk-icon-spin.uk-text-warning
  .indicator-card-footer
    .indicator-card-button.uk-float-right
      i.uk-icon-pie-chart
      | 指標詳情
    .uk-clearfix