//- .uk-panel.uk-panel-box.uk-form.uk-panel-box-secondary.analyze-panel
//-   h3.uk-panel-title.uk-clearfix
//-     span= name
//-     span &nbsp;
//-     .modeOption.uk-button-group(data-uk-button-radio)
- var name2 = jade.t(name)
span= name2
span &nbsp;
.modeOption.uk-button-group
//- (data-uk-button-radio)
