.uk-panel.uk-panel-box.uk-form.uk-panel-box-secondary.analyze-panel
  h3.uk-panel-title.uk-clearfix
    | Filter
   div.uk-button-group(data-uk-button-radio)
       button.uk-button by year
       button.uk-button by month
       button.uk-button by quarter