.uk-panel.uk-panel-box.uk-form.uk-panel-box-secondary.analyze-panel
  h3.uk-panel-title.uk-clearfix
    | Analyze
    button.uk-button.uk-button-mini.uk-float-right.toggle-analyze-view Toggle

  p current selection
  p.analyze-content
    fieldset
      .uk-button-group(data-uk-button-radio)
        button.uk-button by trend
        button.uk-button by gender
        button.uk-button by age

    fieldset
      //- .uk-button-group(data-uk-button-radio)
      //-   button.uk-button year
      //-   button.uk-button quarter
      //-   button.uk-button month
      input(type='radio')
      | year
      input(type='radio')
      | quarter
      input(type='radio')
      | month

    fieldset
      input(type='radio')
      | male
      input(type='radio')
      | female

    fieldset
      input(type='radio')
      | 9-14
      input(type='radio')
      | 15-20
      input(type='radio')
      | 21-60
      input(type='radio')
      | 60+

    fieldset
      input(type='checkbox')
      | average
      input(type='checkbox')
      | min
      input(type='checkbox')
      | max
      input(type='checkbox')
      | aaa
      input(type='checkbox')
      | TREND
      input(type='checkbox')
      | TREND
      input(type='checkbox')
      | TREND
      input(type='checkbox')
      | TREND



    hr.uk-article-divider
