-var placeholder = jade.t('please input indicator keyword...')
select(name='indicator_id', placeholder=placeholder)
div.indicator-keyword
  button.uk-button.uk-button-link 人口
  button.uk-button.uk-button-link 家庭
  button.uk-button.uk-button-link 教育
  button.uk-button.uk-button-link 就業
  button.uk-button.uk-button-link 收入
