.indicator-header-wrap
  .uk-container.uk-container-center
    #navbar-brand.uk-grid
      .uk-width-1-2
        #logo_view
      .uk-width-1-2
        #indicator_search_box_view
.indicator-bread-wrap
  .uk-container.uk-container-center
    #indicator_bread_view
.indicator-body-wrap
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-3-4(data-uk-margin='')
        ul#indicator_profile_view
        //- #indicator_summary_view
        //- .uk-panel.uk-panel-box.uk-panel-box-secondary.analyze-panel
        //-   #indicator_mode_view
        //-   #indicator_date_view
        //-   #indicator_filter_view
        //-   #indicator_method_view
        //-   #indicator_analyze_view
        //-   .uk-article-divider
        //- #indicator_chart_view
        //- #indicator_table_view
      .uk-width-1-4(data-uk-margin='')
        #indicator_related_view
        #indicator_hot_view
